page-login {
  .img-finger{
    height: 100%;
  }
    .list-form {
        height: 90%;
    }
    .conteudo {
        height: 100%;
        background: #f85032;
    }
    .p-opcoes {
        font-size: large;
    }
    .icone-form {
        padding-left: 16px;
    }
    .button-outline {
        border-width: 2px !important;
    }
    .grid-img {

        img {
            margin-top: 4%;
            margin-bottom: 5%;
        }

    }
    .item-footer {
        color: #ccedfd;
        background-color: initial !important;
        border-color: initial !important;
        .item-inner {
            border-bottom: none !important;
        }
    }
    .button-outline-md-light,
    .button-outline-ios-light {
        border-color: #b8d1e2;
    }
    .opcoes {
        color: #ccedfd;
    }
    .input-login {
        margin: 1em auto;
        background-color: #fff;
        background-color: #ccedfd;
        border-radius: 5px;
        padding-left: 0px !important;
        .label {
            font-size: medium;
            color: #3b5387;
        }
        &.item-input.input-has-focus {
            .item-inner {
                border-bottom-color: #3b5387;
                box-shadow: inset 0 -1px 0 0 #3b5387;
            }
            .label {
                color: #3b5387;
            }
        }
        .text-input {
            color: #3b5387;
        }
    }
    ion-list.content-login.list {
        background: transparent;
    }
    .scroll-content {
        display: list-item !important;
        width: 100% !important;
        height: 100% !important;
        .content-login {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .login-button {
        width: 35%;
        background-color: #3b5387; //background-color: map-get($colors , success );

    } // .button[disabled] {
    //     background-color: #3b5387;
    // }
    .inscreva-se a {
        color: #e0e0e0;
        text-decoration: none;
    }
    .footer::before {
        background-image: none;
    }
    .toggle-md .toggle-icon,
    .toggle-ios .toggle-icon {
        height: 14px;
        top: 14px;
    }
    .toggle-md,
    .toggle-ios {
        height: 100%;
    }
    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner{
        padding-right: 0;
    }
    .item-footer {
        padding-left: 0;
        ion-label{
            font-size: initial;
        }
    }
    .card-login {
      background-color: #ffffff;
      margin-top: 260px;
      opacity: 0.7;
  }
    .btn-login{
      background-color:#fff;
      color:black;
      bottom:8px;

    }
    .btn-row{
      text-align: center;

    }
    input{
      background: transparent;
    }
    .form-login{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 5%;
    }
    .card-ios, .card-md{
      margin: 12px;
      border-radius: 2px;
      width: calc(100% - 24px);
      font-size: 1.4rem;
      background: #fff;
      -webkit-box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.3);
  }

}
