page-tabs {
  .has-title-only .tab-button-text,
  .tabs-md .tab-button.has-title-only .tab-button-text,
  .tabs-ios .tab-button.has-title-only .tab-button-text {

      font-size: 16pt;
      font-family: "Times New Roman";
      font-weight: bold;
  }
  .tabs .tab-button-icon, .tab-button[aria-selected=false] .tab-button-text{
      color: #c5c5c5;
  }
}
