<header textTitle="Locais de Exame"></header>I>

<ion-content>
    <div *ngIf="!carregou" text-center>
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
  <div >
    <ion-slides effect="coverflow" pager  #slidesLocaisExames>
      <ion-slide *ngFor="let localExame of locaisExame; let i = index">
        <ion-card class="card-medicamentos">
          <ion-card-header>              
            <ion-grid>
              <ion-row>
                <ion-col offset-10 col-2>
                  <ion-icon  (click)="alertApagar(localExame)"
                    color="danger" class="icon-close" name="close"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>            
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon color="primary"
                   name="ios-arrow-back" 
                   class="arrow-back-perfil" 
                   (click)="slidesLocaisExames.slidePrev()"
                    [hidden]="slidesLocaisExames.isBeginning()"></ion-icon>
                </ion-col>
                <ion-col col-8>
                  <h1 text-center>                    
                    {{localExame.nome | extractWords:2}}
                  </h1>
                </ion-col>
                <ion-col offset-1 col-2>
                  <ion-icon color="primary"
                   name="ios-arrow-forward" 
                   (click)="slidesLocaisExames.slideNext()" 
                   [hidden]="slidesLocaisExames.isEnd()"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
            
          <ion-grid>
            <ion-row>
              <ion-col col-4  >
                <span>Número</span>
              </ion-col>
              <ion-col  col-8  >
                <span>{{localExame.enderecoNumero}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 >
                <span>Rua</span>
              </ion-col>
              <ion-col col-8  >
                <span>{{localExame?.enderecoRua}}</span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-4>
                <span >Bairro</span>
              </ion-col>
              <ion-col col-8 >
                <span>{{localExame?.enderecoBairro}}</span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-4>
                <span>CEP</span>
              </ion-col>
              <ion-col col-8>
                <span>{{localExame?.enderecoCep}}</span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-4>
                <span>Cidade</span>
              </ion-col>
              <ion-col col-8 >
                <span>{{localExame?.cidadeNome}}</span>
              </ion-col>
            </ion-row>


          </ion-grid>
          <ion-card-content>         
            <ion-grid>
              <ion-row class="row-icones-inferiores">                
                <ion-col offset-10 col-2>
                  <ion-icon (click)="atualizar(localExame)" color="primary" name="create"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    </div>

</ion-content>
