page-local-exame {
  ion-icon{
    font-size: 40px;
    
  }
  .card-md h1,.card-ios h1,span{
    color: color($colors, primary);
  }
  .card-md,.card-ios{
    background:color($colors,colorCard);
    height: $height-card;
    min-height: $height-card;
    max-height: $height-card;
  }    
  span{
    font-size:18px;
  }       

.row-icones-inferiores{
  position: relative;
  bottom: 25px;
  }  
  .arrow-back-perfil{
    color:color($colors, primary);
  }
}


