page-medicamentos {

  //toolbar title
  .toolbar-title-md{
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(255, 255, 255); 
}
//icone menu
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{

    color: rgb(255, 255, 255);
    background-color: transparent;
}

.card-title {        
    position: absolute;
    margin-top: -37px;
    margin-left: 25px;
    font-size: 2.0em;        
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.img-finger {
  height: 100%;
}

.conteudo {
  height: 100%;
  width: 100%;
  background: linear-gradient(50deg, #0044ff, #008cff);
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;      
}

#ion-card{
  margin-top: 70px;
  position: relative;  
}

.ion-icon{
  color: rgb(255, 255, 255);  
}

.card-content-md, .card-white {
  border: 1px solid linear-gradient(50deg, #0044ff, #008cff); 
  border-radius: 30px; 
} 

#btn-editar{
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 25px;
  border-radius: 25px;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
}

#btn-mc{    
  margin-top: 1%;
  position: absolute;
  margin-left: 56%;
  margin-bottom: 25px;
  border-radius: 25px;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
}

.card-white{
  background: rgba(16, 58, 100, 0);
}

.btn-end{
  margin-left:34%;
}
.row-buttons{
  width:294px;
  margin-bottom: 8%;
}

.row-text{
  margin-bottom: 2px;    
}

.text{
  font-weight: bolder;
  font-size: 15px;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.text-exit{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

hr{  
  width: 100%;
  border-bottom: 1px solid #ffffff;
  
}

}
