page-home {
    
    ion-icon{
      font-size: 30px;
      
    }
    .card-md h1,.card-ios h1,span{
      color: #ffffff;
    }
    .card-md,.card-ios{
      background:#39004c;
      border-radius:65px;
      max-height:340px;
    }
    span{
      font-size:16px;
    }
    .icon-close{
      font-size: 32px;
    }
    .ajuste-direita{
      position: relative;
      left:10px;
    }
    .ajuste-esquerda{
      position: relative;
       left: -10px;
    }
    .position-fixed{
      position: fixed;
    }
    .arrow-back-perfil{
      color:#1b4da3;
    }
    .swiper-slide img {      
      height: 61px;
      max-height: 50%;
  }
    
  }

