page-home {
    
    ion-icon{
      font-size: 40px;
      
    }
    .card-md h1,.card-ios h1,span{
      color: color($colors, primary);
    }
    span{
      font-size: 20px;
    }
    .card-md,.card-ios{

      background:color($colors,colorCard);
      height: $height-card;
      min-height: $height-card;
      max-height: $height-card;
    }   
  
    //Segmentos

  .segment-md-primary .segment-button {
      color: #d1e2ff;
  }

  .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
    border-color: color($colors, light);
    color: color($colors, light);
    opacity: 1;
}   
  .ajuste-direita{
    position: relative;
    left:10px;
  }
  .ajuste-esquerda{
    position: relative;
      left: -10px;
  }
  .position-fixed{
    position: fixed;
  }
  .arrow-back-perfil{
    color:color($colors, primary);
  }
  .swiper-slide img {      
    height: 61px;
    max-height: 50%;
}
.segment{
    padding: 10px 12px 0 12px;
    margin-bottom: 22px;
  }

  .row-icones-inferiores{
    position: relative;
    top: 22px;
    }
    .padding-bottom{
      padding-bottom: 33px;
    }
    @keyframes anima_handpoint {
      from{
          transform: translateX(-30%) 
          translateZ(0);
      }
      to{
          transform: translateX(0%)
           translateZ(0);

      }                
    }
    .swiper-slide .img-hand-point{
      animation: anima_handpoint .9s ease-out infinite alternate-reverse;
      height: 16%;
    }
    .descricao-sem-objetos{
      font-size: 20px;
      color: white;
    }
  }

  