<ion-header>
  <ion-navbar>
    <ion-title>Página Principal</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-segment class="semegment" [hidden]="!carregou" [(ngModel)]="segmentoAtivo" color="primary" >
        <ion-segment-button value="medicamentos">
          Medicamentos
        </ion-segment-button>
        <ion-segment-button value="exames">
          exames
        </ion-segment-button>
      </ion-segment>
  <div *ngIf="!carregou" text-center>
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div *ngIf="carregou">


    <div *ngIf="segmentoAtivo === 'medicamentos'">
      <ion-slides #slidesMedicamentos  effect="coverflow" pager    >
        <ion-slide *ngFor="let medicamento of medicamentos;">
          <ion-card class="card-medicamentos">
            <ion-card-header>              
              <ion-grid>
                <ion-row>
                  <ion-col offset-10 col-2>
                    <ion-icon  (click)="alertApagarMedicamento(medicamento)"
                      color="danger" class="icon-close" name="close"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <img class="align-horizontal"  src="assets/imgs/{{medicamento.tipoMedicamentoCaminhoImagem}}">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon color="primary" name="ios-arrow-back" class="arrow-back-perfil" (click)="slidesMedicamentos.slidePrev()" [hidden]="slidesMedicamentos.isBeginning()"></ion-icon>
                  </ion-col>
                  <ion-col col-7>
                    <h1 text-center>
                      {{medicamento.nome | extractOneWord}}
                    </h1>
                  </ion-col>
                  <ion-col offset-1 col-2>
                    <ion-icon color="primary" name="ios-arrow-forward" (click)="slidesMedicamentos.slideNext()" [hidden]="slidesMedicamentos.isEnd()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-8>
                    <span>Próxima Dosagem:</span>
                  </ion-col>
                  <ion-col col-4 pull-1>
                    <span>{{medicamento.proximaHoraMedicamento | date:'shortTime'}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col col-7>
                    <span>Dias Restantes:</span>
                  </ion-col>
                  <ion-col col-5 pull-1>
                    <span>{{medicamento.diasRestantes}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid>
                <ion-row class="row-icones-inferiores">
                  <ion-col  col-2>
                    <ion-icon  (click)="alertConcluirMedicamento(medicamento)"
                      color="secondary" name="checkmark-circle-outline"></ion-icon>
                  </ion-col>
                  <ion-col offset-8 col-2>
                    <ion-icon (click)="atualizarMedicamento(medicamento)" color="primary" name="create"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      </div>
      <div *ngIf="segmentoAtivo === 'exames'">
      <ion-slides #slidesExames effect="coverflow" pager >
        <ion-slide *ngFor="let exame of exames; let i = index">
          <ion-card>
            <ion-card-header>
              <ion-grid>
                <ion-row>
                  <ion-col offset-10 col-2>
                    <ion-icon (click)="alertApagarExame(exame)" color="danger" class="icon-close" name="close"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon color="primary" name="ios-arrow-back" class="arrow-back-perfil" (click)="slidesExames.slidePrev()" [hidden]="slidesExames.isBeginning()"></ion-icon>
                  </ion-col>
                  <ion-col col-8>
                    <h1 text-center>
                      {{exame.nome | extractOneWord}}
                    </h1>
                  </ion-col>
                  <ion-col col-2>
                    <ion-icon color="primary" name="ios-arrow-forward" (click)="slidesExames.slideNext()" [hidden]="slidesExames.isEnd()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col offset-2 col-3 >
                    <span>Local:</span>
                  </ion-col>
                  <ion-col col-7 pull-1 >
                    <span>{{exame.localExameNome}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col offset-2 col-3 >
                    <span>Data:</span>
                  </ion-col>
                  <ion-col col-7 pull-1>
                    <span >{{exame.data.substr(0,10) }}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid>
                <ion-row>
                  <ion-col col-3 offset-2>
                    <span >Horário:</span>
                  </ion-col>
                  <ion-col col-7 pull-1>
                    <span >{{exame.data.substr(11,16) }}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid>
                <ion-row class="row-icones-inferiores">
                  <ion-col  col-2>
                    <ion-icon (click)="localizarExame(exame)" color="danger" name="pin"></ion-icon>
                  </ion-col>
                  <ion-col offset-8 col-2>
                    <ion-icon (click)="atualizarExame(exame)" color="primary" name="create"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
        <ion-fab class="position-fixed" bottom left >
          <button (click)="presentActionSheet()" ion-fab >
            <ion-icon color="light" name="add"></ion-icon>
          </button>
        </ion-fab>
  </div>
</ion-content>