<ion-menu [hidden]="!storageService.getUser()" side="left" id="authenticated" [content]="content">
    <ion-header>
        <ion-toolbar class="user-profile">

            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <div (click)="openPage('MeuPerfilPage')"   menuClose class="user-avatar">
                            <img  [src]="profileImage">
                        </div>
                    </ion-col>
                    <ion-col padding-top col-8>
                        <h2 ion-text class="no-margin bold text-white">
                            {{storageService?.getUser()?.pessoa?.nome | extractTwoWords }}
                        </h2>
                        <span ion-text color="light">{{storageService.getUser()?.pessoa?.email}}</span>
                    </ion-col>
                </ion-row>

                <ion-row no-padding class="other-data">
                    <ion-col no-padding class="column">
                        <button color="light" (click)="openPage('MeuPerfilPage')" 
                        ion-button icon-left small full color="light" menuClose >
                            <ion-icon name="contact"></ion-icon>
                            Meu Perfil
                        </button>
                    </ion-col>
                    <ion-col no-padding class="column">
                        <button ion-button icon-left small full color="light" menuClose (click)="alertCertezaSair()">
                            <ion-icon name="log-out"></ion-icon>
                            Sair
                        </button>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-toolbar>
    </ion-header>

    <ion-content class="content-side-menu" color="light">
        <ion-list no-lines class="user-list">
            <button ion-item menuClose class="text-1x"  (click)="openPage('HomePage')">
                <ion-icon item-left name="home" color="light"></ion-icon>
                <span ion-text color="light">Início</span>
            </button>            
            <hr>
            <button ion-item menuClose class="text-1x"  (click)="openPage('LocalExamePage')">
                    <ion-icon item-left name="pin" color="light"></ion-icon>
                    <span ion-text color="light">Locais de Exame</span>
            </button>        
                <hr>
            <button ion-item menuClose class="text-1x"  (click)="openPage('FormExamePage')">
                    <ion-icon item-left name="md-medkit" color="light"></ion-icon>
                    <span ion-text color="light">Adicionar Exame</span>
            </button>        
                <hr>                            
            <button ion-item menuClose class="text-1x"  (click)="openPage('FormMedicamentoPage')">
                    <ion-icon item-left name="flask" color="light"></ion-icon>
                    <span ion-text color="light">Adicionar Medicamento</span>
            </button>      
            <hr>
            <div *ngIf="temRecursoBiometria">
                <button *ngIf="temRecursoBiometria && !hasFinger" (click)="salvaBiometria()" ion-item menuClose class="text-1x"  >
                  <ion-icon item-left ios="ios-finger-print" md="md-finger-print" color="light"></ion-icon>
                  <span ion-text color="light">Adicionar Biometeria</span>
              </button>              
              <button *ngIf="temRecursoBiometria && hasFinger" (click)="alertRemoverBiometria()" ion-item menuClose class="text-1x"  >
                <ion-icon item-left ios="ios-finger-print" md="md-finger-print" color="light"></ion-icon>
                <span ion-text color="light">Remover Biometria</span>
            </button>
            <hr>            
            </div>  
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
