<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button class="btn-three-dots" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <ion-spinner *ngIf="!carregou" name="bubbles"></ion-spinner>
  </div>
  <ion-card *ngIf="carregou" class="card-white">
    <img (click)="viewFoto()" class="img-salva"  [src]="paciente?.profileImage.changingThisBreaksApplicationSecurity !=undefined ? paciente?.profileImage : 'assets/imgs/avatar-blank.png'">
    <div text-center>
    </div>


    <!-- <h2 text-center>{{perfil?.pessoa?.nome}}</h2>
    <h2 text-center>{{perfil?.pessoa?.email}}</h2> -->
    <ion-card-header>
      <h1 text-center class="text-bolder">Dados Médicos</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <h4 class="text-bolder">Nome: </h4>
        </ion-col>
        <ion-col class="padding-zero-col" col-6>
          <p>{{paciente?.pessoa?.nome}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h4 class="text-bolder">Naturalidade: </h4>
        </ion-col>
        <ion-col class="padding-zero-col" col-6>
          <p>{{paciente?.pessoa?.naturalidade?.naturalidade}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h4 class="text-bolder">Sexo: </h4>
        </ion-col>
        <ion-col class="padding-zero-col" col-6>
          <p>{{paciente?.pessoa?.sexo}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h4 class="text-bolder">Raça: </h4>
        </ion-col>
        <ion-col class="padding-zero-col" col-6>
          <p>{{paciente?.pessoa?.raca}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
