page-meu-perfil {
  .img-salva{
    width: 70%;
    align-self: center;
    margin:auto;
    display: block;
    padding: 10px;
    border-radius: 50%;
  }
  .text-bolder{
    font-weight: bolder;
  }
  .card-black{
    background: #E4E5E6;
  }
  .padding-zero-col{
    padding:0;
  }
}
