page-meu-perfil {
  .img-salva{
    width: 70%;
    align-self: center;
    margin:auto;
    display: block;
    padding: 10px;
    border-radius: 50%;
  }
  .text-bolder{
    font-weight: bolder;
  }
  .card-md h1,.card-ios h1,span{
    color: #ffffff;
  }
  .card-md,.card-ios{
    background:#352020;
    border-radius:30px;
  }
  .padding-zero-col{
    padding:0;
  }
  .btn-inside-image{
    position: absolute;
    top:187px;
    left: 155px;
  }
  .btn-three-dots{
    background: transparent;
  }

}
