<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button class="btn-three-dots" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        refreshingText="Atualizando..."
        pullingIcon="arrow-dropdown"
        pullingText="Puxe para atualizar"
        refreshingSpinner="bubbles"></ion-refresher-content>
      </ion-refresher>
  <div text-center>
    <ion-spinner *ngIf="!carregou" name="bubbles"></ion-spinner>
  </div>
  <ion-card *ngIf="carregou" >
    <img (click)="viewFoto()" class="img-salva"  [src]="paciente?.profileImage">
    <div text-center>
    </div>


    <!-- <h2 text-center>{{perfil?.pessoa?.nome}}</h2>
    <h2 text-center>{{perfil?.pessoa?.email}}</h2> -->
    <ion-card-header>
      <h1 text-center class="text-bolder">Dados Médicos</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <span class="text-bolder">Nome: </span>
        </ion-col>
        <ion-col  col-6>
          <span>{{paciente?.pessoa?.nome}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <span class="text-bolder">Naturalidade: </span>
        </ion-col>
        <ion-col  col-6>
          <span>{{paciente?.pessoa?.naturalidade?.naturalidade}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <span class="text-bolder">Sexo: </span>
        </ion-col>
        <ion-col  col-6>
          <span>{{paciente?.pessoa?.sexo}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <span class="text-bolder">Tipo Sanguíneo: </span>
        </ion-col>
        <ion-col  col-6>
          <span>{{paciente?.tipoSanguineo?.tipoSanguineo}}</span>
        </ion-col>
      </ion-row >

      <ion-row *ngFor="let pacienteLinhaCuidado of pacienteLinhasCuidado; let i = index;">
        <ion-col col-6>
          <span class="text-bolder">Linha de Cuidado {{i + 1}} </span>
        </ion-col>
        <ion-col  col-6>
          <span>{{pacienteLinhaCuidado?.linhaCuidado?.nome}}</span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
