header {
    .esconder{
        display: none;
    }
    span{
        font-size:18px;
      }         
    
    .mostrar{
        display: initial !important;
    }
    #notification-button {            
      position: relative;
      width: 1px;
      top:1px;
      right: 4px;
      z-index: 9999;
    }
    #notifications-badge {
    background-color: red;
    position: absolute;
    bottom:18px;
    left: 25px;
    border-radius: 50%;
    }
    //END  BUTTON 
     .ion-buttons-header{
        position: relative;
        right: 12px;
    }
}




