   <ion-navbar>
      <ion-title>{{textTitle}}</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-buttons class="ion-buttons-header" right>     
          <button id="notification-button" class="esconder" [ngClass]="numberNotMessageByPaciente > 0 ? 'mostrar' : 'esconder'"  
            ion-button icon-only navPush="ListMensagensPage" >   
                  <ion-badge id="notifications-badge" color="danger">{{numberNotMessageByPaciente}}</ion-badge>              
            </button>  
          <button  ion-button icon-only navPush="ListMensagensPage">
            <ion-icon color="light" name="mail"></ion-icon>
          </button>
        </ion-buttons>
      
    </ion-navbar>
  
  