page-historico-medicamento {
  .text-bolder{
    font-weight: bolder;
  }
  .card-white{
    background: #E4E5E6;
  }
  .content-md hr {
  background-color:  rgb(255, 38, 0);
}
  .padding-zero-col{
    padding:0;
  }
  .btn-end{
    margin-left:34%;
  }
  .row-buttons{
    width:294px;
    margin-bottom: 8%;
  }

}
