page-ajuda {
  
    ion-card{
        
        text-align: center;
    }
    .title-help{
        font-size: 15.5px;        
        font-weight: bolder;
    }
    button{
        background: transparent;
    }
    [icon-only] ion-icon {        
        font-size: 2.8em;
        
    }
    button {
        align-items: baseline;
    }
    .card-header-md,
    .card-header-ios {
        padding: 0;
    }
    .icon-sounds{
        position: relative;
        bottom: 10px;
    }
}
