<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Ajuda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card  *ngFor="let helper of helpers;">
    <ion-card-header (click)="expandItem(helper)">
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <h1 class="title-help">{{helper.title}}</h1>
          </ion-col>
          <ion-col offset-1 col-2>
            <button  icon-only>
                <ion-icon color="secondary" name="add-circle"></ion-icon>
            </button>

          </ion-col>
        </ion-row>

      </ion-grid>
      </ion-card-header>      
      <ion-card-content>
            <expandable [expandHeight]="helper.heightText" [expanded]="helper.expanded">
              
              <p (click)="expandItem(helper)">{{helper.text}}</p>
              <ion-grid class="icon-sounds">
                <ion-row>
                  <ion-col *ngIf="!helper.playing" col-2 offset-10>
                    <button (click)="helpSound(helper)"   icon-only>
                          <ion-icon color="primary" name="musical-notes"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col *ngIf="helper.playing" col-2 offset-10 >
                      <button *ngIf="helper.playing" (click)="stopSound(helper)"  icon-only>
                          <ion-icon color="danger" name="square"></ion-icon>
                        </button>
                      </ion-col>
                </ion-row>
              </ion-grid>
              
            </expandable>            
        
      </ion-card-content>    
    </ion-card>



</ion-content>
